<div class="jumbotron text-center">
  <div class="well action-box">
      <h1>Welcome to Finance Tracker</h1>
      <p>Track stocks with friends. Easily add friends and share stocks you are tracking.</p>
  </div>
</div>