.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

.jumbotron {
  background-image: asset-url('stock-market-ticker.jpg');
  background-size: cover;
}

.action-box {
  background-color: #16120c;
  border: 1px solid #16120c;
  color: #fff;
  font-weight: bold;
}

footer {
  margin: 45px;
  padding: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.social {
  float: right;
  list-style: none;
}